body {
    background-color: #aaa074;
    
}

h1 {
    color: #f7efdb;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #574b49;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
